<nav class="navbar navbar-expand-md bg-dark navbar-dark p-3">
  <span class="navbar-brand mb-1 font-weight-bold text-"></span>
  <a class="navbar-brand" href="/"><img src="../images/Together we can Logo.png" class="img-thumbnail logo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right ml-auto">

      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold back" href="/">LOGIN</a>
      </li>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold back" href="/about">ABOUT</a>
      </li>

    </ul>

  </div>
</nav>


<section class="container-fluid bg">
  <div class="row justify-content-left">
    <div class="col-12 cl-sm-6 col-md-3">
      <form class="signup" id="sign-up-form">
        <h2>Register Here</h2>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div class="form-group">
          {{#each roles}}
          <input class="role-radio" type="radio" name="role" data-role-id="{{this.id}}" value="{{this.title}}"
            id="radio-{{this.title}}">
          <label for="radio-{{this.title}}">{{this.title}}</label><br>
          {{/each}}

        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-primary ">Sign Up</button>

        <br />
        <br />
        <p>Or log in <a href="/login">here</a></p>

        <article class="form-errors">

        </article>
      </form>
      <br />

    </div>
  </div>
</section>
<section class="container-fluid padding text-center">
  <div class="row welcome" style="background-color: white">
    <div class="col-12">
      <h3 class="display-1">Mission</h3>
    </div>
    <hr>
    <div class="col-12">
      <h3 class="lead text-center">"We improve the lives of people during times of vulnerability by filling
        the gaps that community no longer fills".
      </h3>
    </div>
  </div>
</section>

<div class="container-fluid padding text-center">
  <div class="row jumbotron padding bg-dark">
    <div class="col-12">
      <h2 class="text-white">Join Us</h2>
    </div>
    <div class="col-12 social padding">
      <a href="/soon.html"><i class="fab fa-facebook"></i></a>
      <a href="/soon.html"><i class="fab fa-twitter"></i></a>
      <a href="/soon.html"><i class="fab fa-instagram"></i></a>
      <a href="/soon.html"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>

{{>footer}}