<section class="container-fluid bg">
  <div class="row justify-content-center">
    <div class="col-12 cl-sm-6 col-md-3">
      <form class="signup" id="sign-up-form" >
        <h2>Register Here</h2>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div class="form-group">
          {{#each roles}}
            <input class="role-radio" type="radio" name="role" data-role-id="{{this.id}}" value="{{this.title}}" id="radio-{{this.title}}" >
            <label for="radio-{{this.title}}">{{this.title}}</label><br>
          {{/each}}
  
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
        <p>Or log in <a href="/login">here</a></p>

        <article class="form-errors">
        
      </article>
      </form>
      <br />

      
    </div>
  </div>
</section>

